streamlit>=1.28
langchain>=0.0.217
openai>=1.2
duckduckgo-search
anthropic>=0.3.0
trubrics>=1.4.3
langchain-openai==0.0.6
streamlit-feedback
pypdfium2
pypdf
nltk
pymilvus
pymupdf==1.23.25
faiss-cpu==1.7.4
oss2